{% extends "base_generic.html" %}

{% block content %}
  <h1>Statistics</h1>
  {% for city, clients in clients_grouped_by_city.items %}
    <h2>{{ city }}</h2>
    <ul>
      {% for client in clients %}
        <li>{{ client.user__username }} - {{ client.num_orders }} orders</li>
      {% endfor %}
    </ul>
  {% endfor %}
    <img src="data:image/png;base64,{{ image_string }}" alt="Client Distribution by City">
    <hr>
<h2>Orders by city</h2>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Gomel</th>
      <th>Grodno</th>
      <th>Minsk</th>
    </tr>
  </thead>
  <tbody>
    {% for product, cities in pivot_table.items %}
      <tr>
        <td>{{ product }}</td>
        <td>{{ cities.Gomel }}</td>
        <td>{{ cities.Grodno }}</td>
        <td>{{ cities.Minsk }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

    <hr>
    <h2>Profit distribution by City</h2>
<img src="data:image/png;base64,{{ image_string_2 }}" alt="Orders Distribution by City">

    <p><b>Most demanded product:</b> {{ most_demanded_product.name }} - {{ most_demanded_product.manufacturer }}</p>
    <p><b>Products with no demand:</b> </p>
    {% for product in no_demand_product %}
  <li>{{ product.name }} - {{ product.manufacturer }}</li>
{% endfor %}

    <h3>Monthly sales</h3>
    {% for sale in monthly_sales %}
  <p>{{ sale.year }}-{{ sale.month }}: {{ sale.product_type__name }} - {{ sale.total_quantity }}</p>
{% endfor %}

    <h3>Annual Profit</h3>
{% for sale in annual_sales %}
  <p>{{ sale.year }}: {{ sale.total_revenue }}$</p>
{% endfor %}


{% endblock %}