{% extends "base_generic.html" %}

{% block content %}
    <h1>О компании</h1>

    <!-- Логотип компании -->
    {% if info.logo %}
        <img src="{{ info.logo.url }}" alt="Company Logo" height="200" width="200">
    {% endif %}

    <p>{{ info.text }}</p>

    <!-- Видео компании -->
    {% if info.video %}
        <video width="320" height="240" controls>
            <source src="{{ info.video.url }}" type="video/mp4">
        </video>
    {% endif %}

    <!-- История компании -->
    <h2>История</h2>
    <p>{{ info.history }}</p>

    <!-- Реквизиты компании -->
    <h2>Реквизиты</h2>
    <p>{{ info.details }}</p>

    <!-- Сертификат компании -->
    <div style="border: 2px solid black; padding: 10px; width: 50%; margin: auto;">
        <h2>Certificate</h2>
        <div>
            <h3>CAR SALON UAS</h3>
            <p><strong>Certificate</strong></p>
            <p>on the entry of information</p>
            <p>Minsk, January 17, 2024</p>
            <p><strong>Limited Liability Company "Car Technologies"</strong></p>
            <p>(TIN 7731340252)</p>
            <p>Registration number: 8241</p>
            <p>Oksyukova L.P.</p>
            <p>Director of the Association "TURPOMOSH"</p>
            <p>Seal</p>
        </div>
    </div>

    <audio controls>
        <source src="{{ info.audio.url }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <!-- Баннеры компании -->
    <h2>Наши баннеры</h2>

    <!-- Первый баннер -->
    {% if info.banner1 %}
        <img src="{{ info.banner1.url }}" alt="Company Banner 1" style="max-width:100%; height:auto;">
    {% endif %}

    <!-- Второй баннер -->
    {% if info.banner2 %}
        <img src="{{ info.banner2.url }}" alt="Company Banner 2" style="max-width:100%; height:auto;">
    {% endif %}

{% endblock %}
