{% extends "base_generic.html" %}

{% block content %}
    <h1 class="faq-title">FAQ</h1>
    <div class="faq-container">
        {% for faq in faqs %}

                <header>
                    <details class="faq-details">
                        <summary class="faq-question">{{ faq.question }}</summary>
                        <section class="faq-answer">
                            <p>{{ faq.answer }}</p>
                            <p class="faq-date">Date added: <time datetime="{{ faq.date_added|date:'c' }}">{{ faq.date_added }}</time></p>
                        </section>
                    </details>
                </header>
        {% empty %}
            <p class="no-faqs">No FAQs available.</p>
        {% endfor %}
    </div>
{% endblock %}
