{% extends "base_generic.html" %}

{% block content %}
    <h1>FAQ</h1>
    {% for faq in faqs %}
        <article>
            <header>
                <details>
                    <summary>{{ faq.question }}</summary>
                    <section>
                        <p>{{ faq.answer }}</p>
                        <p>Date added: <time datetime="{{ faq.date_added|date:'c' }}">{{ faq.date_added }}</time></p>
                    </section>
                </details>
            </header>
        </article>
    {% empty %}
        <p>No FAQs available.</p>
    {% endfor %}
{% endblock %}
