{% extends "base_generic.html" %}

{% block content %}
    <h1 class="jobs-title">Jobs</h1>
    <div class="jobs-container">
        {% for job in jobs %}
            <div class="job-posting" itemscope itemtype="https://schema.org/JobPosting">
                <h2 class="job-title" itemprop="title">{{ job.title }}</h2>
                <p class="job-description" itemprop="description">{{ job.description }}</p>
            </div>
        {% empty %}
            <p>There are no jobs</p>
        {% endfor %}
    </div>
    <div style="clear: both;"></div>
{% endblock %}
