{% extends "base_generic.html" %}

{% block content %}
  <h1>Name: {{ manufacturer.name }}</h1>

  <p><strong>Description:</strong> {{ manufacturer.description }}</p>
  <p><strong>Location:</strong> {{ manufacturer.location }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Products</h4>

    {% for product in manufacturer.product_set.all %}
    <hr>
    <p><strong>Name:</strong> <a href="{{ product.get_absolute_url }}">{{ product.name }}</a></p>
    <p><strong>Price:</strong> {{ product.price }}</p>
    <p class="text-muted"><strong>Id:</strong> {{ product.id }}</p>
    {% endfor %}
  </div>
{% endblock %}