{% extends "base_generic.html" %}

{% block content %}
    <h1>Manufacturer List</h1>

    {% if manufacturer_list %}
        <ul class="manufacturer-list">
            {% for manufacturer in manufacturer_list %}
                <li>
                    <!-- Логотип компании (адаптивное изображение) -->
                    {% if manufacturer.logo %}
                        <figure>
                            <img src="{{ manufacturer.logo.url }}" alt="{{ manufacturer.name }} Logo" class="manufacturer-logo">
                            <figcaption>
                                <a href="{{ manufacturer.link }}" target="_blank">{{ manufacturer.name }}</a>
                            </figcaption>
                        </figure>
                    {% endif %}

                    <!-- Кнопка перехода на детальную страницу компании -->
                    <button onclick="location.href='{{ manufacturer.get_absolute_url }}'">
                        Learn more
                    </button>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no manufacturers.</p>
    {% endif %}
{% endblock %}
