{% extends "base_generic.html" %}
{% block head %}
{% endblock %}
{% block content %}
    <h1>News</h1>
    <meta name="description" content="Fresh news about cars">

    {% if articles %}
        {% for article in articles %}
            <article>
                <header>
                    <h2><mark>{{ article.title }}</mark></h2>
                    <p>{{ article.summary }}</p>
                </header>
                <section>
                    <img src="{{ article.image.url }}" alt="{{ article.title }}" style="max-width:300px; max-height:300px;">
                </section>
                <footer>
                    <a href="{% url 'article_detail' article.id %}">Read more</a>
                </footer>
            </article>
        {% endfor %}
    {% else %}
    {% endif %}
    <p>No articles available.</p>
{% endblock %}