{% extends "base_generic.html" %}

{% block content %}
  <h1 dir="ltr">Reviews</h1>

  {% for review in object_list %}
    <article>
      <header>
        <h2>{{ review.user.username }}</h2>
        <time datetime="{{ review.date.isoformat }}">{{ review.date }}</time>
      </header>
      <section>
        <p>Rating: {{ review.get_rating }}</p>
        <p>{{ review.text }}</p>
      </section>
      <footer>

      </footer>
    </article>
  {% empty %}
    <p>No reviews found.</p>
  {% endfor %}

  {% if user.is_authenticated %}
    <a href="{% url 'add-review' %}">Add a review</a>
  {% else %}
  {% endif %}
{% endblock %}
    <a href="{% url 'login' %}">Log in to add a review</a>