<!doctype html>
<html lang="en">
  <head>
    {% block title %}<title>Online Shop</title>{% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Добавление дополнительного статического CSS файла -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <div class="container">
      <div class="sidebar">
        {% block sidebar %}
          <ul class="sidebar-nav">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'products' %}">All products</a></li>
            <li><a href="{% url 'manufacturers' %}">All manufacturers</a></li>
            <li><a href="{% url 'contacts' %}">Contacts</a></li>
            <li><a href="{% url 'promo-codes' %}">Promocodes</a></li>
            <li><a href="{% url 'reviews' %}">Reviews</a></li>
             {% if user.is_authenticated %}
                 <li>User: {{ user.get_username }}</li>

                {% for group in user.groups.all %}
                    {% if group.name == "Employees" %}
                        <li><a href="{% url 'all-orders' %}">All Orders</a></li>
                        <li><a href="{% url 'clients' %}">Clients</a></li>
                        {% if perms.catalog.can_mark_returned %}
                            {% if order and order.id %}
                                <li><a href="{% url 'change-status-employee' order.id %}">Change Order Status</a></li>
                            {% endif %}
                            {% endif %}
                    {% endif %}
                    {% if group.name == "Salon clients" %}
                       <li><a href="{% url 'my-orders' %}">My Orders</a></li>
                        <li><a href="{% url 'cart' %}">My Cart</a></li>
                    {% endif %}

                {% endfor %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit">Logout</button>
        </form>
    </li>
             {% else %}
                 <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
             {% endif %}
          </ul>
        {% endblock %}
      </div>
      <div class="content">{% block content %}{% endblock %}
      {% block pagination %}
  {% if is_paginated %}
    <div class="pagination">
      <span class="page-links">
        {% if page_obj.has_previous %}
          <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
          <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>
  {% endif %}
{% endblock %}
      </div>
    </div>
  </body>
</html>